*{
  margin: 0;
  padding: 0;
}
body{
   background-image: url("img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
   
   /* background-color: antiquewhite; */
   /*background: linear-gradient(to right, #33ccff 37%, #ff99cc 75%);*/
}

h1{
  font-size: 64px;
  color: rgb(14, 255, 6);
  padding-top: 36vh;
  padding-left: 2vh;
  font-family: 'Dancing Script' , cursive;
  
}

h2{
font-size :59px ;
text-align: center;
font-family: 'PT Serif', serif;
color:green ;
}

h3{
  font-size: 5vh;
  text-align: center;
  border-bottom: 2px solid rgb(129, 224, 20);
  
}
.margin{
margin-left: 86px;
margin-right: 86px;
background-color: rgba(255, 255, 255, 0);
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(162, 168, 161, 0.007);
}

.naba a{
font-size: larger;
}

.mainpageimg{
  margin-top: -49px;
  background-image: url("img1.jpg");
  background-attachment: fixed;
  background-size:cover ;
  width: 213.5vh;
  height:100vh;

}
#mainimg{
  margin: 27vh;
  width: 55vh;
  border-radius: 50%;
}

.aboutpara{
  font-size: 24px;
  font-family: 'BIZ UDPMincho', serif;
  color: #67b825;
}
.progressbar{
  margin-left: 100px;
  margin-right: 100px;
}
.educationtable{
  text-align: center;
  font-size: 40px;
 color: rgb(7, 243, 18);
 --bs-table-bg: #b5b3a92b;

}
#sendbutton{
  font-size: large;
 text-align: center;
  background-color: rgb(89, 241, 0);
  margin-left: 50vh;
  
}

.copyright{
  font-size: larger;
  text-align: center;
  background-color: rgb(50, 218, 59);
}

.ass{
  background-color: rgba(51, 50, 50, 0.342);
}
.educationtable th{

 color: rgb(7, 243, 18);
  
}

.abc{
  color: var(--bs-table-striped-color);;
}
.skill{
  color: rgb(93, 247, 4);
}
.mu h1
{
  font-size: 50px;
}
